@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@function vh($quantity) {
  @return calc(var(--vh, 1vh) * #{$quantity});
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin bp-xlarge {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}

@mixin bp-large {
  @media only screen and (min-width: 992px) {
    @content;
  }
}

@mixin bp-medium {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin bp-small {
  @media only screen and (min-width: 568px) {
    @content;
  }
}

@mixin bp-mini-mobile-landscape {
  @media (orientation: landscape) and (max-height: 360px) {
    @content;
  }
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

%clearfix {

  &:before, &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

@mixin input-placeholder {
  &.placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
  &::-webkit-input-placeholder {
    @content;
  }
}
