$secondary-color: #fb8c00;
$secondary-color-light: #ffbd45;
$secondary-color-dark: #c25e00;

$primary-color: #039be5;
$primary-color-light: #63ccff;
$primary-color-dark: #006db3;

$text-color: #555;
$text-color-light: #fff;
$text-color-dark: #333;
$sub-text-color: #bbb;


$primary-font-family: 'Work Sans';
$secondary-font-family: 'Josefin Sans';

$default-shadow: rgba(0, 0, 0, 0.4) 0 4px 6px -5px;
